<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
